.about {
  padding: 5% 0;
}

.about__row {
  align-items: center;
  justify-content: space-between;
}

.about__desc {
  position: relative;
  max-width: 780px;
  padding: 24px 48px;
  font-size: 20px;

  &::after {
    content: "WE";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    font-weight: 700;
    font-size: 340px;
    transform: translateY(-50%);
    color: #F4F4F4;
  }
}

@media (max-width: 840px) {
  .about__desc {
    padding: 0;

    &::after {
      content: '';
      font-size: 0;
    }
  }
}
