.adaptive {
  padding: 10% 0;
  background: transparent url('../img/devices.png') left 55vw center no-repeat;
}

.adaptive__title {

  &::before {
    content: 'ADAPTATE';
    left: -10%;
  }
}

@media (max-width: 840px) {
  .adaptive {
    padding: 10% 0 40%;
    background-position: center bottom 24px;
    background-size: 90% auto;
  }
}
