.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  background: #393D69 url('../img/bg-hero.jpg') center no-repeat;
  background-size: cover;
}

.hero__container {
  max-width: 1040px;
}

.hero__data-list {
  @include list;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-around;
}

.hero__data-item {
  padding: 20px;
  max-width: 290px;
}

.hero__data-item-box {
  margin: 0;
  padding: 0;
  border: 2px solid #fff;
}

.hero__data-item-icon {
  height: 40px;
  padding: 0 8px;

  img {
    display: block;
  }
}

.hero__data-item-value {
  margin: 5px 0 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
}

.hero__data-item-desc {
  margin: 0 0 24px;
}

@media (max-width: 840px) {
  .hero {
    height: auto;
    min-height: 100vh;
    padding-bottom: 24px;
  }
}
