.page-nav {
	padding: 30px 0;
	border-bottom: 2px solid #AFAFAF;
}

.page-nav__list {
	@include list;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.page-nav__item {
	padding: 2px 18px;
	font-size: 24px;

	&--active {
		color: #f6ae48;
	}

	a {
		color: inherit;
	}
}