.products {
  padding: 10% 0 10%;
  position: relative;
}

.products__title-box {
  position: absolute;
  top: -44px;
  width: 100%;
  max-width: 666px;
  padding: 5% 0 15%;
  text-align: center;
  color: #fff;
  background-color: #F6AE48;
  background-image:
    url('../img/gears.svg'),
    url('../img/gear.svg');
  background-position: left -88px top, right -72px top -40px;
  background-repeat: no-repeat, no-repeat;
}

.products__title {
  margin: 0;
  text-transform: none;
}

.products__list {
  @include list;
  margin: 0 -10px;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  padding: 10px;
  max-width: 381px;
}

@media (max-width: 840px) {
  .products {
    padding-top: 100px;
  }

  .products__title-box {
    top: 0;
    max-width: 100%;
    padding: 5% 0 25%;
  }
}
