.tasks {
  padding: 2% 0 10%;
}

.tasks__list {
  @include list;
}

.tasks__item-box {
  display: block;
  padding: 16px 24px;

  &--orange {
    color: #fff;
    background-color: #f6ae48;

    .tasks__item-desc:last-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0 0;
    }
  }

  &:hover .tasks__arrow-right {
    transform: translateX(8px);
  }
}

.tasks__item-icon {
  height: 64px;

  img {
    display: block;
  }
}

.tasks__item-title {
  margin: 0;
  font-size: 20px;
}

.tasks__item-desc {
  margin: 8px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.tasks__item-price {
  display: inline-block;
  border: 2px solid #fff;
  padding: 4px 16px;
  font-size: 18px;
}

.tasks__arrow-right {
  display: block;
  margin: 0 16px;
  transition: transform .25s;
}
