*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-width: 320px;
}


.title-48 {
  text-transform: uppercase;
  font-size: 48px;
}